.button1 {
    background-color: #6ABF4B;
    margin-top: 20%;
    margin-left: 35%;
}
.button2 {
    background-color: #3877EE;
    margin-top: 35%;
    margin-left: 20%;
}
.button3 {
    background-color: #3877EE;
    margin-top: 13%;
    margin-left: 25%;
}
.button4 {
    background-color: #3877EE;
    margin-top: 8%;
    margin-left: 73%;
}
.button5 {
    background-color: #6ABF4B;
    margin-top: 18%;
    margin-left: 58%;
}
.button6 {
    background-color: #3877EE;
    margin-top: 28%;
    margin-left: 55%;
}
.button7 {
    background-color: #6ABF4B;
    margin-top: 36%;
    margin-left: 57%;
}
.button8 {
    background-color: #6ABF4B;
    margin-top: 31%;
    margin-left: 70%;
}
.button9 {
    background-color: #3877EE;
    margin-top: 33%;
    margin-left: 85%;
}
.button10 {
    background-color: #3877EE;
    margin-top: 21%;
    margin-left: 73%;
}